{% extends "one-block.html" %}
{% load static %}
{% block one-block-content %}
<article>
  <hgroup class="title">
  <hr>
  <div class="main-title">
    <h2 class="g--12">
      Anmeldung für<span style="font-style: italic">{{summary}}<span>
    </h2>
  </div>
  <div class="sub-title g--12">
      {{zeit}}
  </div>
  <hr>
  </hgroup>

  <form class="veranstaltung anmeldung" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="formFieldWrapper">
      <h5>Dein Name <span class="required">*</span></h5> 
      <div class="isflex">
        <div class="g--4 g-t--12">
          <div class="g--12">
            <div class="form-input">
              {{ form.sender_fname.errors }}
              {{ form.sender_fname }}
            </div>
          </div>
          <div class="form-input">
            <div class="help-text"><i>{{ form.sender_fname.help_text|safe|escape }}</i></div>
          </div>
        </div>
        <div class="g--4 g-t--12">
          <div class="g--12">
            {{ form.sender_lname.errors }}
            {{ form.sender_lname }}
          </div>
          <div class="form-input">
            <div class="help-text"><i>{{ form.sender_lname.help_text|safe|escape }}</i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="formFieldWrapper">
      <h5>Telefon <span class="required">*</span></h5>
      <div class="g--8 g-t--12">
        <div class="form-input">
          {{ form.sender_phone.errors }}
          {{ form.sender_phone }}
        </div>
      </div>
      <div class="form-input">
        <div class="help-text"><i>{{ form.sender_phone.help_text|safe|escape }}</i></div>
      </div>
    </div>
    <div class="formFieldWrapper">
      <h5>Email <span class="required">*</span></h5>
      <div class="g--8 g-t--12">
        <div class="form-input">
          {{ form.sender_email.errors }}
          {{ form.sender_email }}
        </div>
      </div>
      <div class="form-input">
        <div class="help-text"><i>{{ form.sender_email.help_text|safe|escape }}</i></div>
      </div>
    </div>
    <div class="formFieldWrapper">
      <h5>Wieviele Teilnehmende möchtest Du anmelden?<span class="required">*</span></h5>
      <div class="g--8 g-t--12 number-wrapper">
        <div class="g--1">
          {{ form.adultNumber.errors }}
          {{ form.adultNumber }}
        </div>
      </div>
      <div class="form-input g--8 g-t--12" style="margin-top:0.5rem">
        <div class="help-text"><i>{{ form.adultNumber.help_text|safe|escape }}</i></div>
      </div>
    </div>
    <div class="formFieldWrapper">
      <h5>Wieviele davon sind Kinder?</h5>
      <div class="g--8 g-t--12 number-wrapper">
        <div class="g--1">
          {{ form.childrenNumber.errors }}
          {{ form.childrenNumber }}
        </div>
      </div>
      <div class="form-input g--8 g-t--12" style="margin-top:0.5rem">
        <div class="help-text"><i>{{ form.childrenNumber.help_text|safe|escape }}</i></div>
      </div>
    </div>
    <div class="formFieldWrapper">
      <h5>Bemerkungen</h5>
      <div class="g--8 g-t--12">
        <div class="form-input">
          {{ form.bemerkung.errors }}
          {{ form.bemerkung }}
        </div>
      </div>
      <div class="form-input">
        <div class="help-text"><i>{{ form.bemerkung.help_text|safe|escape }}</i></div>
      </div>
    </div>
    <input
      class="btn--raised btn--green"
      type="submit"
      value="Verbindlich anmelden" />
  </form>
</article>
{% endblock %}
