{% extends "one-block.html" %}
{% load static %}
{% block one-block-content %}
<article>
  <hgroup class="title">
    <hr>
    <div class="main-title">
      <h2>
        Herzlichen Dank für die Anmeldung, {{fname}}!
      </h2>
    </div>
    <hr>
  </hgroup>
  Wir haben eine Bestätigung an {{ email }} geschickt. Falls sie nicht angekommen (bitte auch im Spam nachschauen) ist oder andere Fragen auftauchen, kontaktiere bitte
  <a href="mailto:veranstaltungen@nuglargaerten.ch"> veranstaltungen@nuglargaerten.ch </a>.
</article>
{% endblock %}
