<div class="monat reihe einleitung">
  <div class="tag reihe">
    <div class="tag label"></div>
    <div class="alle kategorien">
      <div class="g-t--12 g--4 kategorie gemeinschaft">
        <div>
          <label class="label start end event">
            Gemeinschaft
          </label>
        </div>
      </div>
      <div class="g-t--12 g--4 kategorie bildung">
        <div>
          <label class="label start end event">
            Bildung
          </label>
        </div>
      </div>
      <div class="g-t--12 g--4 kategorie landwirtschaft">
        <div>
          <label class="label event start end">
            Landwirtschaft
          </label>
        </div>
      </div>
      <p>
        Neben der Landwirtschaft ist uns die Gemeinschaft sowie die Bildung
        wichtig. Du bist herzlich eingeladen an unserem bunten Programm
        teilzunehmen. Bitte jeweils Anmelden: Mit dem Formular bei der
        Veranstaltung oder unter
        veranstaltungen@nuglargaerten.ch<mailto:veranstaltungen@nuglargaerten.ch> 
      </p>
    </div>
  </div>
</div>
