<div>
	<label class="label event summary {{classes}}" for="{{eventid}}">{{summary}}</label>
	<div class="overlay background" id="{{eventid}}">
		<div class="g-m--12 g--8 overlay h-event">
      <div class="overlay titlebar">
        <button class="btn close-detail btn--round transparent" >
          <i class="fa fa-close"></i>
        </button>
      </div>
			<div class="overlay row">
				<i class="fa fa-calendar g--1" aria-hidden="true"></i>
				<h2>{{summary}}</h2>
			</div>
			<hr />
			<div class="overlay row">
				<i class="fa fa-clock-o g--1" aria-hidden="true"></i>
				<div class="zeit container">
					<span class="zeit">
						{% autoescape off %}
						{{zeit}}
						{% endautoescape %}
					</span>
				</div>
			</div>
			{% if location != '' %}
			<div class="overlay row">
				<i class="fa fa-map-marker g--1" aria-hidden="true"></i>
				<div class="time container">
					<span class="ort">{{location}}</span>
				</div>
			</div>
			{% endif %}
			{% if description != 'None' %}
			<div class="overlay row description"><p>
					{% autoescape off %}
					{{description}}
					{% endautoescape %}
				</p>
			</div>
			{% endif %}
			<div class="overlay row button">
				<a class="btn btn--flat" href="{% url 'veranstaltungen:anmeldung' eventid %}">Ich möchte mich anmelden</a>
				<a class="btn btn--flat " href="{% url 'veranstaltungen:export' eventid %}">Meinem Kalender hizufügen</a>
			</div>
		</div>
	</div>
</div>
