<div class="teilnehmende overview event {{kategorie}} opaque">
  <div class="teilnehmende event row {{classes}}"
       {% if anzahl > 0 %}
       onclick="showoverlay('{{eventid}}')"
       {% endif %}
       >
       <div class="g--2"> {{ start.dateDisplayDe }} </div>
       <div class="g--9"> {{ summary }} </div>
       <div> {{ anzahl }} </div>
  </div>
  <div class="overlay background" id="{{eventid}}">
    <div class="g-m--12 g--8 overlay {{kategorie}} opaque">
      <div class="overlay titlebar">
        <button
          onclick="closeoverlay('{{eventid}}')"
          name="close attendees of event window"
          type="button"
          class="btn close-detail btn--round transparent" >
          <i class="fa fa-close"></i>
        </button>
      </div>
      <div class="overlay row">
        <table>
          <tr>
            <th>Vorname</th> <th>Nachname</th>
            <th>Email</th><th>Telefonnummer</th>
            <th>Anzahl Teilnehmer</th><th>Davon Kinder</th>
            <th>Bemerkung</th>
          </tr>
          {% for t in teilnehmende %}
          <tr>
            <td>{{t.fname}}</td><td>{{t.lname}}</td>
            <td>{{t.email}}</td><td>{{t.phone}}</td>
            <td>{{t.adultNumber}}</td><td>{{t.childrenNumber}}</td>
            <td>{{t.bemerkung}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="overlay row button">
        <a class="btn btn--flat " href="{% url 'veranstaltungen:teilnehmende' eventid %}">CSV herunterladen</a>
      </div>
    </div>
  </div>
</div>

