{% extends "base.html" %}
{% block content %}
<section class="g--8 g-t--12">
  <article class="calendar">
    <div class="teilnehmende container">
      {% for event in eventList %}
      {% autoescape off %}
      {{ event }}
      {% endautoescape %}
      {% endfor %}
    </div>
  </article>
</section>
{% endblock %}
