{% extends "base.html" %}
{% block content %}
<section class="g--8 g-t--12">
  <article class="calendar">
    <div class="monat reihe einleitung">
      <div class="alle kategorien tag reihe">
        Bitte schaue, ob die Änderungen korrekt übernommen wurden und drücke auf
        den entsprechenden Knopf. Falls etwas schiefgelaufen ist, bitte bei
        Cristoffel melden.
        <div class="overlay row button teilnehmende">
          <a class="btn btn--flat" href="{% url 'veranstaltungen:accept' %}">Ist gut so!</a>
          <a class="btn btn--flat" href="{% url 'veranstaltungen:list' %}">Nein, abbrechen!</a>
        </div>
      </div>
    </div>
    <div class="veranstaltungen container kommend">
      {% include "einleitung.html" %}
      {% for month in monthList %}
      {% autoescape off %}
      {{ month }}
      {% endautoescape %}
      {% endfor %}
    </div>
  </article>
</section>
{% endblock %}
