{% extends "base.html" %}
{% block content %}
<section class="g--8 g-t--12">
  <article class="calendar">
    {% if request.user.is_staff %}
    <div class="overlay row button teilnehmende">
      <a class="btn btn--flat" href="{% url 'veranstaltungen:teilnehmende' %}">Liste mit Teilnehmenden anzeigen</a>
      <a class="btn btn--flat" href="{% url 'veranstaltungen:collect' %}">Veranstaltungen aktualisieren (geht ein paar Sekunden)</a>
    </div>
    {% endif %}
    <div class="veranstaltungen container kommend">
        {% include "einleitung.html" %}
        {% for month in monthList %}
        {% autoescape off %}
        {{ month }}
        {% endautoescape %}
        {% endfor %}
    </div>
  </article>
</section>
{% endblock %}
