{% load static socialaccount account %}
<!doctype html>
<html>
  {% include "head.html" %}
  <body class="cd-fixed-bg">
    <input type="checkbox" class="nav-main" id="nav-main-responsive">
    {% include "nav.html" %}
    <header class="ng-header">
      <div>
        <label class="nav-main" for="nav-main-responsive"><i class="fa fa-bars fa-lg"></i></label>
      </div>
      <div class="sonne" class="g--8 no-margin">
        <nav role="navigation">
          <ul id="abo-nav-container">
            <li>
                    <!-- <a href="{% url 'veranstaltungen:list' %}"> -->
              <a href="{% url 'angebote:list' %}">
                <div id="sonne"
                    <div id="sonne-innen"
                         {% comment %}
                         {% if category == 'veranstaltungen'  %}
                         {% endcomment %}
                         {% if category == 'angebote'  %}
                        class="active"
                         {% endif %}
                    >
                  <div id="sonne-innen"
                    {% comment %}
                      {% if category == 'veranstaltungen'  %}
                    {% endcomment %}
                    {% if category == 'angebote'  %}
                      class="active"
                    {% endif %}
                      ><p>Ernte-Abo</p></div>
                  <!-- ><p>Kalender</p></div> -->
                </div>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="ng-body g--12">
      {% if category == 'home' %}
      <section class="g--8 g-t--12 welcome">
        <div class="g--5 circle-box logo">
          <div class="circle-inner">
            <img alt="Nuglar Gärten" src="{% static 'img/logo_text.png' %}">
          </div>
        </div>
        <i id="scroll-indicator" class="fa fa-arrow-circle-down fa-lg"></i>
      </section>
      {% endif %}
      {% block content %}
      {% endblock %}
      <footer class="g--8 g-t--12">
        <address class="g--3 g-m--6">
          <h6>Nuglar Gärten</h6>
          <div class="footer-box">
            <span class="co">c/o Dominique Oser</span><br>
            <span class="street">Oberdorfstrasse 73</span><br>
            <span class="postal-code">4412 Nuglar</span><br>
            <span class="email">
              <a href="mailto:kontakt@nuglargaerten.ch">
                kontakt@nuglargaerten.ch
              </a>
            </span>
          </div>
        </address>
        <section class="phone g--3 g-m--6">
          <div style="display: flex;">
            <i style="vertical-align: baseline" class="fa fa-phone" aria-hidden="true"></i>
						<span style="margin-left: 0.5rem; vertical-align: baseline">
              Benjamin:
            </span>
          </div>
          <div class="footer-box">
                <span class="phone">
                  <a href"tel:+415280492">
                    077 528 04 92
                  </a>
                </span>
            <table>
              <tr>
                <td>Mo&Di</td><td>09h-17h</td>
              </tr>
              <tr>
                <td>Do</td><td>09h-17h</td>
              </tr>
              <tr>
                <td>Fr</td><td>09h-12h</td>
              </tr>
            </table>
          </div>
          </div>
        </section>
        <section class="bank-account g--5 g-m--11">
          <h6>Kontoangaben</h6>
          <div class="footer-box bank-account-switch">
            <input class="tabbed" type="radio" name="tabs" id="tab1" checked />
            <label for="tab1">Spendenkonto</label>
            <input class="tabbed" type="radio" name="tabs" id="tab2" />
            <label for="tab2">Konto Zahlungen</label>
            <div class="tab content1">
                <div class="client">Fördergem. f. e. sinnst. Wandel in der Landwirtschaft</div>
                <div class="bank">Freie Gemeinschaftsbank, 4001 Basel</div>
                <div class="iban">IBAN: CH19 0839 2000 1564 3630 2</div>
            </div>
            <div class="tab content2">
                <div class="client">Verein Nuglar Gärten, 4412 St. Pantaleon</div>
                <div class="bank">Freie Gemeinschaftsbank, 4001 Basel</div>
                <div class="iban"> IBAN: CH42 0839 2000 1517 0131 8</div>
            </div>
          </div>
        </section>
        <section class="icons g--1 g-m--1">
          <div class="fb">
            <a href="https://www.facebook.com/nuglargaerten">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
          </div>
          <div class="danggerscheen">
            <a href="{% url 'danggerscheen:list' %}">
              <i class="fa fa-gift"></i>
            </a>
          </div>
          <div class="user-info">
            {% if user.is_authenticated %}
            <span>Du bist: {% user_display user %}</span>
            <a href="{% url 'logout' %}?next={{ request.path }}">
              <i class="fa fa-sign-out"></i>
            </a>
            {% else %}
            <a href="{% provider_login_url 'google' %}?next={{ request.path }}"><i class="fa fa-sign-in"></i></a>
            {% endif %}
          </div>
        </section>
      </footer>
    </main>
  </body>
</html>
