{% load static bg_img %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    {% block title %}
    Nuglar Gärten
    {% endblock %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Homepage der Nuglar Gärten">
  <meta name="author" content="cricri">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="apple-touch-icon" type="image/png"
  href="{% static 'img/favicon.ico' %}">
  <link rel="shortcut icon" type="image/png"
  href="{% static 'img/favicon.ico' %}"/>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


  {% block css %}
  <!-- This file stores project-specific CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  {% endblock %}

  <style> 

.cd-fixed-bg {
  min-height: 100vh;
  background-size: cover;
  background-color: rgb(255,247,233);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  scroll-behavior: smooth;
}

  @media screen and (max-width: 576px) {
    #nav-main {
      min-height: 100vh;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url({% get_bg_img_url "small" %})
    }
  }
  @media screen and (orientation:portrait) {
    @media (max-height: 576px) {
      .cd-fixed-bg {
        background-image: url({% get_bg_img_url "small" %})
      }
    }
    @media (min-height: 577px) and (max-height: 900px) {
      .cd-fixed-bg {
        background-image: url({% get_bg_img_url "medium" %})
      }
    }
    @media (min-height: 901px) and (max-height: 1152px) {
      .cd-fixed-bg {
        background-image: url({% get_bg_img_url "big" %})
      }
    }
    @media (min-height: 1153px) {
      .cd-fixed-bg {
        background-image: url({% get_bg_img_url "huge" %})
      }
    }
  }
  @media screen and (orientation:landscape) {
    @media (max-width: 1024px) {
      .cd-fixed-bg {
        background-image: url({% get_bg_img_url "small" %})
      }
    }
    @media (min-width: 1025px) and (max-width: 1600px) {
      .cd-fixed-bg {
        background-image: url({% get_bg_img_url "medium" %})
      }
    }
    @media (min-width: 1601px) and (max-width: 2048px) {
      .cd-fixed-bg {
        background-image: url({% get_bg_img_url "big" %})
      }
    }
    @media (min-width: 2049px) {
      .cd-fixed-bg {
        background-image: url({% get_bg_img_url "huge" %})
      }
    }
  }
  </style>
<script type="text/javascript" src="{% static 'js/zoom_image.js' %}"></script>
</head>
