{% load tags %}
{% url collap_category|add:':list' as the_url %}
{% get_category_list all_objects collap_category as elist %}
<li class="
           {% if category == collap_category %} active {% endif %}
    ">
    {% if elist|length > 1 and collap_category != "rezept" %}
        {% if category == collap_category %}
            <input type="checkbox" id="collapsible-{{collap_category}}">
        {% else %}
            <input type="checkbox" id="collapsible-{{collap_category}}" checked>
        {% endif %}
        <div class="collapsible-label-wrapper">
            <a href="{{ the_url }}">
                {{title}}
            </a>
            <label for="collapsible-{{collap_category}}"><i class="fa fa-angle-double-left fa-lg"></i></label>
        </div>
        <ul class="collapsible-{{collap_category}}-area">
            {% for entry in elist %}
            <li>
                <a href="{{ the_url }}#{{entry.title|urlencode}}">{{entry.title}}</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <a href="{{ the_url }}">
            {{title}}
        </a>
    {% endif %}
</li>
