{% load static tags %}
<nav id="nav-main" class="g--2 g-s--3 g-m--3 g-t--12" role="navigation">
    <div class="nav-logo">
        <div class="g--4 logo circle-box {% if category == 'home'  %} active {% endif %}">
            <a href="{% url 'home:list' %}">
                <div class="circle-inner">
                    <img src="{% static 'img/logo_keimling.png' %}">
                </div>
            </a>
        </div>
    </div>
    <ul>
        {% include "nav-collapsible.html" with collap_category="solila" title="SoliLa" %}
        {% include "nav-collapsible.html" with collap_category="angebote" title="Angebote" %}
        <li class="
                   {% if category == 'blog' %} active {% endif %}
                   {% if collap_category == 'veranstaltungen' %} sonne {% endif %}
            ">
            {% if category == 'blog' or category == 'veranstaltungen' %}
            <input type="checkbox" id="collapsible-blog">
            {% else %}
            <input type="checkbox" id="collapsible-blog" checked>
            {% endif %}
            <div class="collapsible-label-wrapper">
                <a href="/blog">
                    Aktuelles
                </a>
                <label for="collapsible-blog">
                    <i class="fa fa-angle-double-left fa-lg"></i>
                </label>
            </div>
            <ul class="collapsible-blog-area">
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <li>
                    <a href="/veranstaltungen">Kalender</a>
                </li>
            </ul>
        </li>
        {% include "nav-collapsible.html" with collap_category="mitwirken" title="Mitwirken" %}
        {% include "nav-collapsible.html" with collap_category="rezept" title="Rezepte" %}
        {% include "nav-collapsible.html" with collap_category="lernort" title="Lernort" %}
    </ul>
</nav>
