{% extends "one-block.html" %}
{% load static %}
{% block one-block-content %}
<article>

  <hgroup class="title">
    <hr>
    <div class="main-title">
      <h2>
        Newsletter
      </h2>
    </div>
    <hr>
  </hgroup>
  <form method="post" action="https://newsletter.infomaniak.com/external/submit" class="inf-form" target="_blank"><input type="email" name="email" style="display:none" />
    <input type="hidden" name="key" value="eyJpdiI6InRTS0lFT043NGtwNGNcL0lEdUNPUU1SUEdreHJTTUo3SDE1V3hhYWJsZGVZPSIsInZhbHVlIjoiSEhYMWFXVFdoM2ZoQk11dStwSU5EYktCV3hlRTJaOXp2MnVcL2ZFSVVlM3M9IiwibWFjIjoiNTg0NWRkNTQ1OTQ0YTYwNmNmMWYxNzE2Y2VhNGI1OTJmMzAwNjY4OTExNTYzZjM2MjJjNGRlMmFkOWE1MmNjNiJ9">
    <input type="hidden" name="webform_id" value="6287">
    <div class="article-body">
      <p>
        Sei informiert über die Solidarische Landwirtschaf Nuglar Gärte & all ihre
        Prozesse & Entscheide, Angebote, Mitwirk und Unterstützungsmöglichkeiten.
          Unregelmässiger Versand > ca. 1 bis 2 Mal im Monat.
      </p>
      <div class="inf-success" style="display:none">
        <h4>
          Ihre Anmeldung wurde erfolgreich gespeichert!
        </h4>
        <p>
          <a href="#" class="inf-btn">&laquo;</a>
        </p>
      </div>
      <p>
        <div class="formFieldWrapper">
          <div class="form-input">
            <input type="text" name="inf[1]" data-inf-meta="1" data-inf-error="Bitte geben Sie eine E-Mail-Adresse an" required="required" placeholder="E-Mail" >
          </div>
          <div class="help-text">
            Deine E-Mail-Adresse wird nur dazu genutzt, Dir unseren
            Newsletter und Informationen über unsere Tätigkeiten zu senden. Dir steht
            jederzeit der Abmeldelink zur Verfügung, den wir in jede gesendete E-Mail
            einfügen.
          </div>
        </div>
      </p>
      <div>
        <input type="submit" name="" class="btn--raised btn--green" value="Bestätigen">
      </div>
    </div>
  </form>
</article>
{% endblock %}

