@import './colors';
/* latin */
@font-face {
  font-family: 'Arya';
  font-style: normal;
  font-weight: 400;
  src: local('Arya'), local('Arya-Regular'), url(../font/arya/v1/si76METEJxgDKIw3d8hYuQ.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}/* latin */
@font-face {
  font-family: 'Arya';
  font-style: normal;
  font-weight: 700;
  src: local('Arya Bold'), local('Arya-Bold'), url(../font/arya/v1/Nv9-Wtxy0--_UR9bG3ns4ALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Marmelad';
  font-style: normal;
  font-weight: 400;
  src: local('Marmelad'), local('Marmelad-Regular'), url(../font/marmelad/v6/HM9p0JaHv5-HhbhN_csF8vesZW2xOQ-xsNqO47m55DA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Prociono';
  font-style: normal;
  font-weight: 400;
  src: local('Prociono'), local('Prociono-Regular'), url(../font/prociono/v6/k-cspRoKKNt9B5lTDx4b3vesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

$grid-columns: 12;

$ng-himmel: #d8ffff;
//$ng-wiese: #5f770a;
$ng-wiese: #7f9c3c;
$bg-light: rgb(255,247,233);

$sonne-1: rgb(243,137,1);
$sonne-2: rgb(248,170,0);
$sonne-3: rgb(253,190,1);
$sonne-4: rgb(253,190,82);
$sonne-5: rgb(249,205,82);

$sans: 'Marmelad', sans-serif;
$serif: 'Prociono', serif;
$font-tiny: 0.4rem;
$font-small: 0.8rem;
$font-med: 1rem;
$font-big: 1.2rem;
$font-large: 1.5rem;
$font-huge: 2rem;

$primary: rgb(0,157,255);
$primary-light: rgb(0,255,255);
$secondary: rgb(0,128,0);
$secondary-light: rgb(0,246,206);
$accent: rgb(248,184,203);

// used for sun height/width and new-entry-button
$navbar-height: 7vw;
$header-height: 5vh;

$font-shadow-himmel: -3px -3px 2px rgb(174,189,208), 3px -3px 2px rgb(174,189,208), -3px 3px 2px rgb(174,189,208), 3px 3px 2px rgb(174,189,208);  
$font-shadow-subnav: -1px -1px 2px #fff, 1px -1px 2px #fff;  
$font-shadow-nav: -2px -2px #fff, 2px -2px #fff, -2px 2px #fff, 2px 2px #fff;  
// Decorative
$box-shadow-card: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.09);
$box-shadow-float: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$box-shadow-float-hover: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
$box-shadow-raised: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$box-shadow-raised-hover: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);

$cubic: cubic-bezier(.64,.09,.08,1);

$border-radius-small: 3px;
$border-radius-med: 6px; 
$border-radius-big: 10px; 

// Spacing
$space-big: 2rem !default;
$space-med: 1rem !default;
$space-small: 0.5rem !default;

// Media Queries
$media-med: 1200px;
$media-small: 900px;
$media-tiny: 576px;
