@import '_ng-variables.scss';

[class*="btn"] {
	transition: all 0.3s $cubic;
	box-shadow: $box-shadow-float;
	position: relative;
	cursor: pointer;
	font-size: $font-small;
	// text-transform: uppercase;
	text-decoration: none;
	background-size: 0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: background-color 0.3s $cubic, box-shadow 0.3s $cubic;
	will-change: background-size, background-image;
	padding: 0.5rem 1rem;
	display: inline-block;
	border: 0;
	&:after {
		position: absolute;
		content: '';
		transition: none;
		background: radial-gradient(circle, white 95%, rgba(0,0,0,0) 95%);
		background-size: 0.7%;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}
	&:focus {
		outline: none;
		background-size: 1000%;
    	transition: all 1s $cubic;
	}
}

@mixin btn-gradient($c) {
	background-image: radial-gradient(circle, $c 1%, lighten($c, 15%) 15%, rgba(0,0,0,0) 30%);
	background-color: $c;
}

.btn--float {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	@include btn-gradient($accent);
	will-change: box-shadow, background-color;
	font-size: inherit;
	padding: 0;
	&:hover {
		box-shadow: $box-shadow-float-hover;
		background-color: lighten($accent, 5%);
	}
}

.btn {
   &:first-child{
      margin-right: 1px;
   }
   &:nth-child(2n-1){
      margin: 0px 1px;
   }
   &:last-child {
      margin-left: 1px;
   }
}
.btn:nth-child(2n){
}
.btn--raised {
	border-radius: $border-radius-small*0.66;
	box-shadow: $box-shadow-raised;
	@include btn-gradient($river);
	will-change: box-shadow, background-color;
	color: white;
	&:hover {
		box-shadow: $box-shadow-raised-hover;
		background-color: lighten($river, 5%);
	}
}

.btn--round {
	border-radius: 50%;
	@include btn-gradient(white);
	box-shadow: none;
   background-color: rgba(255,255,255,0.4);
   &:hover {
      background-color: rgba(0,0,0,0.1);
   }
   padding: 2px;
}

.btn--flat {
	border-radius: 2%;
	@include btn-gradient(white);
	box-shadow: none;
   background-color: rgba(255,255,255,0.4);
   &:hover {
      background-color: rgba(0,0,0,0.1);
   }
}

.btn--primary {
	@include btn-gradient($primary);
	&:hover {
		background-color: lighten($primary, 5%);
	}
}

.btn--secondary {
	@include btn-gradient($secondary);
	&:hover {
		background-color: lighten($secondary, 5%);
	}
}

.btn--accent {
	@include btn-gradient($accent);
	&:hover {
		background-color: lighten($accent, 5%);
	}
}

.btn--red {
	@include btn-gradient($alizarin);
	&:hover {
		background-color: lighten($alizarin, 5%);
	}
}

.btn--yellow {
	@include btn-gradient($sunflower);
	&:hover {
		background-color: lighten($sunflower, 5%);
	}
}

.btn--green {
	@include btn-gradient($green);
	&:hover {
		background-color: lighten($green, 5%);
	}
}

.btn--blue {
	@include btn-gradient($blue);
	&:hover {
		background-color: lighten($blue, 5%);
	}
}

select {
	border: medium none;
}
