@import './_imports/_variables';

.collapsible-label-wrapper {
	display: flex;
	flex-direction: row;
}


$divi: 0.07;
[id*="collapsible-"] {
	display: none;
	&:checked {
		~ [class*="collapsible-"][class$="area"] { // Collapsible content
			transform: scaleY(0);
			height: 0;
		}
		~ * label {
			transform: rotate(0deg);
		}
		@media screen and (max-width: $media-tiny) {
			~ [class*="collapsible-"][class$="area"] { // Collapsible content
				transform: scaleY(1);
				height: 50%;
			}
			~ * label {
				transform: rotate(-60deg);
			}
		}
	}
}

label[for*="collapsible-"] { // Label
	cursor: pointer;
	transition: all 1s ease;
	display: block;
	transform: rotate(-60deg);
}

[class*="collapsible-"][class$="area"] { // Collapsible content
	transform: scaleY(1);
	height: 50%;
	transform-origin: 0 0;
	will-change: height, transform;
	//transition: all 0.3s ease;
	transition: all 0.5s ease;
	@media screen and (max-width: $media-tiny) {
		height: 0;
		transform: scaleY(0);
	}
}
