.formFieldWrapper {
	margin-bottom: 5vh;

	label{
		display: block;
		margin: 1vh 0;
		font-size: 1.2rem;

	}
	textarea {
		// overwrite cols/rows attributes
		width: 100%;
		height: 50%;
		border: 0;
		border-radius: 0.2rem;
		font-size: $font-med;
	}
	.help-text {
		margin-top: 0.3rem;
		font-size: $font-small;
	}
	.form-input {
		//background-color: white;
	}

	#id_title {
		width: 100%;
	}
	#id_coordinates {
		width: 100%;
	}

	input {
		border-radius: 0.2rem;
		margin-top: 0.3rem;
		font-size: $font-med;
	}
	select {
		border-radius: 0.2rem;
		width: 100%;
	}
}

form {
	margin-top: 1rem;
	.formFieldWrapper {
		margin-bottom: 4vh;
		input {
			width: 98%;
			font-size: $font-small;
		}

		h5 {
			text-transform: inherit;
			margin-top: 0;
		}

		.help-text {
			margin-top:0;
		}

		span.required {
			color: red
		}
		input[type='number'] {
			text-align: right;
			border: none;
			border-bottom: solid 1px $black;
			background: rgba(255,255,255,0);
		}

		input {
			&[type="email"], &[type="text"], &[type="password"],
			{
				display: block;
				border: none;
				border-bottom: solid 1px $black;
				will-change: background-position;
				transition: all 0.3s cubic-bezier(.64,.09,.08,1);
				background: rgba(255,255,255,0.3);
				//background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $black 96%);
				//background-repeat: no-repeat;
				//background-size: 0 100%;
				&:focus, &:valid {
					box-shadow: none;
					outline: none;
					background-size: 100% 100%;
					&::-webkit-input-placeholder {
						color: $primary;
						font-size: 11px;
						transform: translateY(-20px);
						visibility: visible !important;
					}
				}
				&::-webkit-input-placeholder {
					transition: all 0.2s $cubic;
				}
			}
		}
		.checkbox-wrapper {
			margin-top: 0.3rem
		}
		.number-wrapper {
			display: flex;
			align-items: flex-end;
		}

		input[type=checkbox], input[type=radio] { display:none; }
		input[type=checkbox], input[type=radio] {
			+ label:before {
				font-family: FontAwesome;
				display: inline-block;
				letter-spacing: 10px;
			}
			&:checked {
				letter-spacing: 5px;
			}
		}

		input[type=checkbox] + label:before { content: "\f096"; }
		input[type=radio] + label:before { content: "\f10c"; }
		input[type=checkbox]:checked + label:before { content: "\f046"; }
		input[type=radio]:checked + label:before { content: "\f111"; }

		select {
			border: none;
			border-bottom: solid 1px $grey;
			color: $black;
			padding: 6px;
			cursor: pointer;
			background: rgba(255,255,255,0);
		}

		input[id="id_benefited_is_me_1"] {
			&:checked {
				~ [id="benefited-block"] { // Collapsible content
					transform: scaleY(1);
					height: 50%;
				}
			}
		}
		input[id="id_karte"] {
			&:checked {
				~ [id="address-block"] { // Collapsible content
					transform: scaleY(1);
					height: 50%;
				}
			}
		}


		[id="address-block"], [id="benefited-block"] { // Collapsible content
			transform: scaleY(0);
			transform-origin: 0 0;
			height: 0;
			will-change: height, transform;
			//transition: all 0.3s ease;
			transition: all 0.5s ease;
		}
	}
}
