@import './_imports/_variables';

@for $i from 1 through $grid-columns {
	.g--#{$i} {
		width: 100%/$grid-columns*$i;
	}
	.m--#{$i} {
		margin-left: 100%/$grid-columns*$i;
		
	}
}

@media screen and (max-width: $media-med) {
	.m-m--0 {
		margin-left: 0;
	}
}

@for $i from 1 through $grid-columns {
	@media screen and (max-width: $media-med) {
		.g-m--#{$i} {
			width: 100%/$grid-columns*$i;
		}
	}
	@media screen and (max-width: $media-med) {
		.m-m--#{$i} {
			margin-left: 100%/$grid-columns*$i;
		}
	}
}
@for $i from 1 through $grid-columns {
	@media screen and (max-width: $media-small) {
		.g-s--#{$i} {
			width: 100%/$grid-columns*$i;
		}
	}
	@media screen and (max-width: $media-small) {
		.m-s--#{$i} {
			margin-left: 100%/$grid-columns*$i;
			
		}
	}
}
@media screen and (max-width: $media-small) {
	.m-s--0 {
		margin-left: 0;
	}
}
@for $i from 1 through $grid-columns {
	@media screen and (max-width: $media-tiny) {
		.g-t--#{$i} {
			width: 100%/$grid-columns*$i;
		}
	}
	@media screen and (max-width: $media-tiny) {
		.m-t--#{$i} {
			margin-left: 100%/$grid-columns*$i;
		}
	}
}


@media screen and (max-width: $media-tiny) {
	.m-t--0 {
		margin-left: 0;
	}
}

[class*="container"] {
	display: flex;
}

.container--baseline {
	align-items: baseline;
}

.container--center {
	align-items: center;
}

.container--start {
	align-items: flex-start;
}

.container--end {
	align-items: flex-end;
}

.container--justify {
	justify-content: center;
}

.container--wrap {
	flex-wrap: wrap;
}

.container--wrap--m {
	@media screen and (max-width: $media-med) {
		flex-wrap: wrap;
	}
}

.container--wrap--s {
	@media screen and (max-width: $media-small) {
		flex-wrap: wrap;
	}
}

.container--wrap--t {
	@media screen and (max-width: $media-tiny) {
		flex-wrap: wrap;
	}
}

.nudge--right {
	margin-right: $space-med;
	@media screen and (max-width: $media-small) {
		margin-right: $space-med*0.75;
	}
	@media screen and (max-width: $media-tiny) {
		margin-right: $space-small;
	}
}

.nudge--left {
	margin-left: $space-med;
	@media screen and (max-width: $media-small) {
		margin-left: $space-med*0.75;
	}
	@media screen and (max-width: $media-tiny) {
		margin-left: $space-small;
	}
}

.no-nudge--m {
	@media screen and (max-width: $media-med) {
		margin-left: 0;
		margin-right: 0;
	}
}

.no-nudge--s {
	@media screen and (max-width: $media-small) {
		margin-left: 0;
		margin-right: 0;
	}
}

.no-nudge--t {
	@media screen and (max-width: $media-tiny) {
		margin-left: 0;
		margin-right: 0;
	}
}
