nav {
    dl, dt, dd, ol, ul, li {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        box-sizing: border-box;
    }
}

#nav-main {
    position: fixed;
    padding-right: 2rem;
    transform: translateZ(0);
    backface-visibility: hidden;
    z-index: 7;
    display: flex;
    flex-direction: column;
    height: 100vh;

    // background image is handled in head.html
    @media screen and (max-width: $media-tiny) {
        transform: translateX(-100%);
        transition: transform 0.3s $cubic;
    }

    .nav-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
    }

    .sonne {
        display: none;
        @media screen and (max-width: $media-tiny) {
            display: block;
        }
    }

    .active {
        background: rgba($bg-light, 1);
    }

    a {
        text-decoration: none;
    }

    > ul {
        border-left: 1px solid rgba($bg-light, 0.9);
        overflow: auto;
        scrollbar-color: rgba($bg-light, 0.8) rgba($bg-light, 0.3);
        scrollbar-width: thin;
        &::-webkit-scrollbar {
            width: 0.5em;
            background-color: rgba($bg-light, 0.3)
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba($bg-light, 0.9)
        }

    }
    li {
        list-style-type:none; 
        background: rgba($bg-light, 0.9);
        transition: all 200ms ease-in;
        border-radius: 1.5rem 0.2rem 1rem 0;
        border-top: 2px dotted rgba($bg-light, 1);
        width: 100%;
        padding: 0.2rem 1rem 0.3rem 1.2rem;

        &:hover {
            transition: all 200ms ease-in;
            background: rgba($bg-light, 1);
        }

        a {
            width: 100%;
            font-family: $sans;

        }


        ul {
            margin-left: 0.5rem;

            li {
                font-size: $font-small;
                background: none;
                border: none;
                margin: 0;
                padding: 0.1rem 0;

                &:hover {
                    transition: all 200ms ease-in;
                    transform: scale(1.05);
                }
            }
        }
    }
}

label.nav-main {
    display: none;
}

input.nav-main {
    display: none;
    &:checked {
        ~ * .nav-collapsible-links {
            height: auto;
            transform: scaleY(1);

            a {
                height: 54px;
            }
        }
    }
}

@media screen and (max-width: $media-tiny) {
    label.nav-main {
        display: block;
        z-index: 8;
        top: 0;
        left: 0;
        padding: 0.8rem 0.8rem;
		    border-radius: 0 1.5rem 0.2rem 1rem;
		    box-shadow: $box-shadow-card;
		    cursor: pointer;
		    transition: background 0.3s $cubic, color 0.3s $cubic;
		    background-color: rgba($bg-light, 0.9);
	  }
	  input.nav-main:checked {
		    ~ * label.nav-main {
			      background-color: rgba($bg-light, 0.9);
		    }

		    ~ nav#nav-main {
			      transform: translateX(0);
		    }
	  }
}
