@import './_reset';
@import "_ng-variables.scss";
@import './buttons';
@import './veranstaltungen.scss';
@import './cards_tiles.scss';
@import './collapsible';
@import './form';
@import './grid';
@import './lightbox';
@import './navigation';
@import './scroll-indicator';
@import './sonne';
@import './fontawesome/v4.7.0/font-awesome';

body, html {
	/* important */
	min-height: 100%;
}

html {
	// all rems are related to the font size in the html element:
	font-size: 1.2vw;
	@media screen and (min-width: $media-small) and (max-width: $media-med) {
		font-size: 1.5vw;
	}
	@media screen and (min-width: $media-tiny) and (max-width: $media-small) {
		font-size: 2vw;
	}
	@media screen and (max-width: $media-tiny) {
		font-size: 4vw;
	}
}

.bank-account-switch {
    input.tabbed { display: none; }                /* hide radio buttons */
    input.tabbed ~ .tab { display: none }          /* hide contents *//* show contents only for selected tab */
    #tab1:checked ~ .tab.content1, #tab2:checked ~ .tab.content2 {display: block;}
		input[type=checkbox], input[type=radio] {
        display:none;
        + label {
            display: inline-block;
            &:hover {
                cursor: pointer;
                transition: all 200ms ease-in;
                transform: scale(1.01);
            }
            &:before {
                font-family: FontAwesome;
                display: inline-block;
                letter-spacing: 4px;
            }
        } /* show labels in line */
		}

		input[type=checkbox] + label:before { content: "\f096"; }
		input[type=radio] + label:before { content: "\f10c"; }
		input[type=checkbox]:checked + label:before { content: "\f046"; }
		input[type=radio]:checked + label:before { content: "\f111"; }
}

div, p, h1, h2, h3, h4, h5, h6, a, input, label, header, aside, menu, body {
	font-family: $sans;
	color: $black;
}

td:not(:first-child) { padding-left: 0.2rem; }
hr {
	margin-top: 0.1rem;
}

.isflex {
	display: flex;
}

.has-space-between {
	justify-content: space-between;
	align-content: space-between;
}

.items-are-center-aligned {
	align-items: center
}

.is-wrapped {
	flex-wrap: wrap;
}

header.ng-header {
   position: fixed;
   top: 0;
   left: 0;
   margin-top: 1px;
   margin-left: 1px;
   z-index: 9;
}

section.not-home {
	margin-top: 15vmin;
}

section#entry-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba($bg-light, 0.95);
	border-radius: 1rem;
	// die Schriftgrösse wird grösser je kleiner der Viewport. Wir wollen
	// ein kleineres Padding auf der Seite bei kleinerem Viewport. Deshalb:
	padding: 1.5rem 4vw; 
	margin-bottom: 1rem;
}

article {
	margin: 1.5rem 0;
	width: 100%;

	h3, h4 {
		margin-top: $font-big*1.5;
	}
	h5, h6 {
		margin-top: $font-med*1.5;
	}

	ul {
		margin: 0.5rem 0rem;
	}

	.title {
		margin-bottom: 1rem;

		.main-title {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.sub-title {
			margin: 0.3rem 0 0.3rem 0.2rem;
		}
	}

	.article-body {
		padding: 0 0.4rem;
	}

	p {
		margin-top: 0.5rem;
	}
}

div#div-zoom-overlay, {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(1,1,1,0.7);
	display: none;
	width: 100%;
	height: 100%;
	z-index: 100;
	align-items: center;
	justify-content: center;
   transition: all 500ms;
   img {
		border-radius: 2%;
		max-width: 90%;
		max-height: 90%;
   }
}

.edit-delete-entry-button {
	float: right;	
	top: 40px;
	position: relative;
	width: 100%;
	a {
		margin: 2px;
		float: right;
	}
}

.new-entry-button {
	position:fixed;
	top: $navbar-height*0.5;
	font-size: $font-large;
	a {
		float: left;
	}
}

.article-body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	&> :not(img):not(h3):not(figure):not(div) {
		width: 100%;
	}
	&> p {
		&> img {
			border-radius: 2%;
			object-fit: cover;
			width: 100%;
			float: left;
			margin: 0.3rem 1rem 0 0;
			&:hover {
				cursor: pointer;
			}
			@media screen and (max-width: $media-tiny) {
				width: 100%;
				max-height: 50vh;
				padding-bottom: 3px;
				margin: auto;
			}
		}
	}
  .support-logos {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
  }
	.support-logos > a, figure {
		margin: 5px;
		padding: 5px;
		border-radius: 2%;
		background: rgba($bg-light, 1);
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 30%;
		height: 30vh;
    &:hover {
        cursor: pointer;
        transition: all 200ms ease-in;
        transform: scale(1.1);
    }
		@media screen and (max-width: $media-tiny) {
			max-width: 90%;
		}
		@media screen and (min-width: $media-tiny) and (max-width: $media-med) {
			max-width: 45%;
		}
		img {
			object-fit: cover;
			overflow: hidden;
		}
	}

	figcaption {
		font-size: $font-small
	}
}

.circle-box {
	// draw perfect circle 
	position: relative;
	overflow: hidden;
	border-radius: 50%;

	&:before {
		content: "";
		display: block;
		padding-top: 100%;
	}

	.circle-inner {
		position:  absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 100%;
		}
	}
}

.logo.circle-box {
	// logos circle box uses our light bg color
	background: rgba($bg-light, 0.8);
	&:hover {
		background: rgba($bg-light, 1);
	}
}

.welcome {
	height: 85vh;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: $font-huge;
	font-family: $sans;
	margin: 0;
}

h2 {
	font-size: $font-large;
	font-family: $sans;
	margin: 0;
	display: inline;
}

h3 {
	font-size: $font-big;
	font-family: $sans;
	text-transform: uppercase;
}

h4 {
	font-size: $font-big;
	font-family: $sans;
}

h5 {
	font-size: $font-med;
	font-family: $sans;
	text-transform: none;
}

h6 {
	font-family: $sans;
	text-transform: uppercase;
	font-size: $font-small;
}

p {
	font-family: $serif;
	font-size: $font-med;

	text-align: justify;
	@media screen and (max-width: $media-med) {
		text-align: left;
	}
}

main.ng-body {
	// zusammen 100vh damit Footer auch bei kurzem Inhalt unten bündig ist
	padding-top: 15vh;
	min-height: 85vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	@media screen and (max-width: $media-tiny) {
		padding: 15vh 1vw 0 1vw;
	}

	@media screen and (min-width: $media-tiny) and (max-width: $media-med) {
		align-items: flex-end;
		margin-right: 10vw;
	}
}

footer {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: space-between;
	//align-content: space-between;
	background: rgba($bg-light, 0.9);
	border-radius: 1rem 1rem 0 0;
	font-size: $font-small;
	margin-top: 5vh;
	padding: 1rem 4vw 0.5rem 4vw;

	section, address {
		margin: 0.5rem 0;
	}

	address {
		display: flex;
		flex-direction: column;
	}

	div.contact-info {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

	}

	p {
		font-size: $font-small;
	}

	.footer-box {
		padding: 0.2rem 0;
	}

	.bank-account {
		display: flex;
		flex-direction: column;
	}

	.icons {
		display: flex;
		flex-wrap: wrap;
		//align-self: flex-end;
		align-content: space-around;
		justify-content: space-between;

		i.fa {
			font-size: 1.5rem;
			margin: 0.3rem;
		}

		.user-info {
			display: flex;
			align-items: center;
		}
	}
}

.horizontal-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
