

#scroll-indicator {
	animation: bounce 4s;
	color: rgba($bg-light, 0.8);
	opacity: 0;
	font-size: 3rem;
}

@keyframes bounce {
	from {
		transform: translateY(-20vh);
		opacity: 1
	}
	50% { opacity: 1;}
	to { transform: translateY(0); }
}
