header .sonne {
	@media screen and (max-width: $media-tiny) {
		display: none;
	}
}

#abo-nav-container {
	opacity: 0.95;
	position: fixed;
	@media screen and (max-width: $media-med) {
		right: 0px;
	}
	@media screen and (min-width: $media-med) {
		right: 5vw;
	}
	li {
		list-style: none;
	}
	a {
		text-decoration: none;
	}
}


#sonne {
	position: relative;
	z-index: 1;
	width: 9vw;
	height: 9vw;
	left: -3vw;
	top: 5vh;
	transform: rotate(10deg);
	hyphens: manual;

	&:before, &:after {
		content: "";
		top: 0;
		left: 0;
		height: 9vw;
		width: 9vw;
		position: absolute;
		z-index: -1;
		border-radius: 1vw/5vw;
	}
	&:before {
		// hinterste Fläche
		transform: rotate(22.5deg);
		background: $sonne-1;
	}
	&:after {
		// zweitvorderste Fläche
		transform: rotate(45deg);
		background: $sonne-5;
	}
	.active {
		background: $sonne-1;
	}
}

#sonne-innen {
	// vorderste Fläche
	background: $sonne-5;
	width: 9vw;
	height: 9vw;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1vw/5vw;
	.active {
		background: $sonne-1;
	}


	&:hover, .active {
		p {
			transform: scale(1.2);
			transition: all 200ms ease-in;
		}
	}


	&:before, &:after {
		content: "";
		top: 0;
		left: 0;
		width: 9vw;
		height: 9vw;
		position: absolute;
		z-index: -1;
		border-radius: 1vw/5vw;
	}
	&:before {
		// zweithinderste Flächte
		//transform: rotate(69deg);
		//background: $sonne-2;
	}
	&:after {
		// mittlere Fläche
		transform: rotate(67.5deg);
		background: $sonne-3;
	}
	p {
		hyphens: manual;
		text-align: center;
	}
}
