$landwirtschaft: #94B167;
$bildung: #0d294c;
$gemeinschaft: #2e5744;
$verein: $bg-light;

article.calendar {
   display: flex;
   flex-direction: column;
   .veranstaltungen.container {
      display: flex;
      flex-direction: column;
   }
   .einleitung.monat.reihe {
      margin-bottom: 2ex;
      .reihe {
         padding-top: 0.5ex;
      }

      p {
         font-size: $font-small;
         font-style: italic;
         margin: 2ex 0;
      }
   }

   .monat.block {
      margin-bottom: 1rem;
      &> .label {
         width: 100%;
         display: flex;
         margin-left: 1rem;
         .text {
            padding: 0.2rem 2rem;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: rgba(255, 247, 233, 0.9);
         }
         font-size: $font-big;
      }
      &> .body {
         padding-top: 0.5rem;
         padding-bottom: 0.5rem;
         background-color: rgba(255, 247, 233, 0.9);
         border-radius: 0.5rem;
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }

   .tag.reihe {
      &:nth-child(even) {
         // background-color: rgba(black,0.01);
         background-color: rgba(255, 247, 233, 0.95);
      }
      &:nth-child(odd) {
         // background-color: rgba(white,0.4)
         background-color: rgba(250, 240, 230, 0.95);
      }
      width: 100%;
      display: flex;
      padding-right: 10px;
      align-items: flex-start;
      justify-content: space-between;
      border-radius: 5px;
      &.nixlos {
         .alle.kategorien {
            height: 100%;
            .landwirtschaft .bildung .gemeinschaft {
               height: 100%;
            }
            .verein {
               display: none;
            }
         }
      }
   }
   .tag.label {
      width: 3ex;
      padding: 2px;
      text-align: center;
   }
   .alle.kategorien {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   .kategorie {
      display: flex;
      flex-direction: column;
      > div {
         height: 100%;
         display: flex;
         flex-direction: column;
         text-align: center;
      }

      .label.event {
         height: 100%;
         width: 95%;
         padding: 5px;
         font-size: $font-small;
         background-color: rgba(white,0.7);
         align-self: center;
         overflow:hidden;
         &.start {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
         }
         &.end {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
         }
         &.summary {
            cursor: pointer;
            &:hover {
               transition: all 200ms ease-in;
               transform: scale(1.1);
            }
         }
      }

      &.verein {
         flex-basis: 100%;
         width: 100%;
         display: block;
         .label.event {
            width: auto;
            padding-left: 3ex;
            padding-right: 3ex;
            background-color: rgba(white,0.5);
            font-size: $font-med;
         }
      }
      &.landwirtschaft {
         display: flex;
         flex-direction: column;
      }
      &.bildung {
         display: flex;
         flex-direction: column;
      }
      &.gemeinschaft {
         display: flex;
         flex-direction: column;
      }
   }
}

.button.teilnehmende {
   a {
      background-color: $bg-light;
      margin-bottom: 1ex;
   }
}

.overlay.background {
   position: fixed;
   top: 0; right: 0; bottom: 0; left: 0;
	display: flex;
   visibility: collapse;
   overflow-y: scroll;
	z-index: 100;
	align-items: center;
	justify-content: center;
   transition: all 500ms;
   opacity: 0;
	div.overlay {
      display: flex;
      flex-direction: column;
      padding: 0.2rem;
      margin: auto 0.2rem auto 0.2rem;
      border-radius: 2%;

      .overlay.titlebar {
         justify-content: flex-end;
         flex-direction: row;
      }
      .overlay.row.button {
         justify-content: center;
      }

      .overlay.row {
         display: flex;
         flex-direction: row;
         align-items: center;
         margin: 0.2rem;
         justify-content: flex-start;
         .zeit.container {
            span {
               font-size: $font-med;
            }
         }
         &.description {
            text-align: left;
            display: inline;
            padding: 0.5rem 0;
         }
         p, a {
            margin: 1rem 2rem;
         }
      }
	}
}

button.transparent {
   background-color: transparent;
}

.opaque, .h-event {
   h2, p, div, a {
      color: #fff;
   }
}

button.close-detail {
   position: fixed;
   z-index: 8;
   padding: 0.8rem 0.8rem;
   cursor: pointer;
	transform: translateZ(0);
   color: #fff;
}

.verein {
   background-color: rgba($verein,0.5);
   &.opaque, .h-event {
      background-color: $verein;
      h2, p, div, a, button.close-detail {
         color: #000;
      }
   }
}

.landwirtschaft {
   background-color: rgba($landwirtschaft,0.5);
   &.opaque, .h-event {
      background-color: $landwirtschaft;
      h2, p, div, a, button.close-detail {
         color: #000;
      }
   }
}

.bildung {
   background-color: rgba($bildung,0.5);
   &.opaque, .h-event {
      background-color: $bildung;
   }
}

.gemeinschaft {
   background-color: rgba($gemeinschaft,0.5);
   &.opaque, .h-event {
      background-color: $gemeinschaft;
   }
}


.teilnehmende.container {
   display: flex;
   flex-direction: column;
   .teilnehmende.overview.event {
      border-radius: 5px;
      &:nth-child(even) {
         div.row {
            background-color: rgba(0,0,0,0.1)
         }
      }
      div.row {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-around;
         &.anmeldung-vorhanden {
            background-color: rgba(255,255,255,0.5);
            &:hover {
               cursor: pointer;
            }
         }
      }
   }
   table {
      width: 100%;
   }
   tr {
      padding: 3px 0;
   }
   td, th {
      padding: 0 0.5rem;
      text-align: center;
   }
}


