{% extends "one-block.html" %}
{% load static  %}
{% block one-block-content %}
<article>
  <form method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="formFieldWrapper {{ field.name }}">
      {{ field.errors }}
      <label class="g--12 no-margin" for="{{ field.id_for_label }}">
        <h4 style="display:inline;"> {{ field.name }}</h4>
      </label>
      <hr> 
      <div class="form-input">
        <div class="help-text"><i>{{ field.help_text|safe|escape }}</i></div>
        {{ field }}
      </div>
    </div>
    {% endfor %}
    <hr>
    <input class="btn--raised btn--green" type="submit" value="Submit" />
    <a class="btn--raised btn--red right" href="{% url 'entry:list' %}">
      Cancel
    </a>
  </form>
</article>
{{ form.media }}
{% endblock %}
