{% extends "one-block.html" %}
{% block one-block-content %}
<article>
  <form method="post">{% csrf_token %}
    Are you sure you want to delete entry "{{ object }}" ?
    <input class="btn--raised btn--red right" type="submit" value="Delete" />
  </form>
</article>
{% endblock %}
