{% load static tags %}
<article>
  <hgroup id="{{entry.title}}" class="title">
    <hr>
    <div class="main-title">
      <h2> {{entry.title}} </h2>
      {% if perms.entry %}
      <div>
        <a class="btn--raised btn--red"
          href="{% url 'entry:delete' entry.id %}">
          delete
        </a>
        <a class="btn--raised btn--blue"
          href="{% url 'entry:edit' entry.id %}">
          edit
        </a>
      </div>
      {% endif %}

    </div>
    <h4 class="sub-title">
      {% if entry.coordinates %}
      {{entry.coordinates}}
      {% elif entry.publishDate %}
      {{entry.publishDate}}
      {% endif %}
    </h4>
    <hr>
  </hgroup>
  <div class="article-body">
    {% autoescape off %}
    {% md_to_html entry.content %}
    {% endautoescape %}
  </div>
</article>
