{% extends "one-block.html" %}
{% load static %}
{% block one-block-content %}

{% for entry in entry_list %}
  {% include "entry/entry_single.html" %}
{% endfor %}
{% if category == "blog" and not archive %}
<article>
    Mehr davon gibt's im <a href="/blog/archive">Archiv</a>.
</article>
{% endif %}
{% if perms.entry %}
<div class="new-entry-button">
  <a href="{% url 'entry:new' %}">
    <button class="btn--float color--white btn--green">+</button>
  </a>
</div>
{% endif %}
<div id="div-zoom-overlay">
  <img id="img-zoom-overlay" />
</div>
{% endblock %}
