{% extends "one-block.html" %}
{% load static %}
{% block one-block-content %}
<article>
  <hgroup class="title">
  <hr>
  <div class="main-title">
    <h2>
      AckerPatenschaft - Anmeldung
    </h2>
  </div>
  <h4 class="sub-title">
    2000m2 Weltacker & Nuglar Gärten danken!
  </h4>
  <hr>
  </hgroup>
  <div class="article-body isflex has-space-between items-are-center-aligned is-wrapped">
    <p>
      <img alt="Geschenkkarte" src="https://drive.google.com/uc?export=download&id=1OXRfNMCHks_t2AUyI5EsCeilhnfSoOyD" />
      Teilt man die globale Ackerfläche durch Anzahl Weltbevölkerung erhält
      jeder Mensch rund 2000m2. Mit einer Patenschaft für 1 bis 2000m2 kannst du
      lokal dazu beitragen, dass auf deinem Acker auf sinnvolle Art und Weise
      Lebensmittel wachsen können.

      Die Postkarte dazu auch ideal als Geschenk für deine Liebsten!
    </p>
  </div>

  <form class="ackerpatenschaft" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="formFieldWrapper">
      <h5>Dein Name <span class="required">*</span></h5> 
      <div class="isflex">
        <div class="g--4 g-t--6">
          <div class="g--12">
            <div class="form-input">
              {{ form.sender_fname.errors }}
              {{ form.sender_fname }}
            </div>
          </div>
          <div class="form-input">
            <div class="help-text"><i>{{ form.sender_fname.help_text|safe|escape }}</i></div>
          </div>
        </div>
        <div class="g--4 g-t--6">
          <div class="g--12">
            {{ form.sender_lname.errors }}
            {{ form.sender_lname }}
          </div>
          <div class="form-input">
            <div class="help-text"><i>{{ form.sender_lname.help_text|safe|escape }}</i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="formFieldWrapper">
      <h5>Email <span class="required">*</span></h5>
      <div class="g--8 g-t--12">
        <div class="form-input">
          {{ form.sender_email.errors }}
          {{ form.sender_email }}
        </div>
      </div>
      <div class="form-input">
        <div class="help-text"><i>{{ form.sender_email.help_text|safe|escape }}</i></div>
      </div>
    </div>
    <div class="formFieldWrapper">
      <h5>Die Patenschaft gilt für folgende Person: <span class="required">*</span></h5>
      {% for isme in form.benefited_is_me %}
      <div class="g--8 g-t--12 checkbox-wrapper">
        {{ isme.tag }}
        <label
          for="{{ isme.id_for_label }}"
          class="help-text">{{ isme.choice_label }}</label>
        {% if isme.id_for_label == "id_benefited_is_me_1" %}
        <div id="benefited-block" class="isflex">
          <div class="g--4 g-t--6">
            <div class="g--12">
              <div class="form-input">
                {{ form.benefited_fname.errors }}
                {{ form.benefited_fname }}
              </div>
            </div>
            <div class="form-input">
              <div class="help-text">
                <i>{{ form.benefited_fname.help_text|safe|escape }}</i>
              </div>
            </div>
          </div>
          <div class="g--4 g-t--6">
            <div class="g--12">
              {{ form.benefited_lname.errors }}
              {{ form.benefited_lname }}
            </div>
            <div class="form-input">
              <div class="help-text">
                <i>{{ form.benefited_lname.help_text|safe|escape }}</i>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <div class="formFieldWrapper">
      <h5>Für wieviele m<sup>2</sup> Acker möchtest du eine Patenschaft bestellen?<span class="required">*</span></h5>
      <div class="g--8 g-t--12 number-wrapper">
        <div class="g--1">
          {{ form.area.errors }}
          {{ form.area }}
        </div>
        <div class="g--11 help-text" style="margin-left:1rem">
          Total: SFr <span id="ackertotal">20</span>.-
        </div>
      </div>
      <div class="form-input g--8 g-t--12" style="margin-top:0.5rem">
        <div class="help-text"><i>{{ form.area.help_text|safe|escape }}</i></div>
      </div>
    </div>
    <div class="formFieldWrapper">
      <h5>Wie oft möchstes Du die Patenschaft erneuern?
        <span class="required">*</span>
      </h5>
      <div class="g--2 g-t--5">
        <div class="form-input">
          {{ form.reoccurrence.errors }}
          {{ form.reoccurrence }}
        </div>
      </div>
      <div class="form-input">
        <div class="help-text">
          <i>{{ form.reoccurrence.help_text|safe|escape }}</i>
        </div>
      </div>
    </div>
    <div class="formFieldWrapper">
      <h5>Ich bestelle</h5>
      <div class="g--8 g-t--12 checkbox-wrapper">
        {{ form.urkunde }}
        <label
          for="{{ form.urkunde.id_for_label }}"
          class="help-text">{{ form.urkunde.label }}</label>
        {{ form.urkunde.errors }}
      </div>
      <div class="g--8 g-t--12 checkbox-wrapper">
        {{ form.newsletter }}
        <label
          for="{{ form.newsletter.id_for_label }}"
          class="help-text">{{ form.newsletter.label }}</label>
        {{ form.newsletter.errors }}
      </div>
      <div class="g--8 g-t--12 checkbox-wrapper">
        {{ form.karte }}
        <label
          for="{{ form.karte.id_for_label }}"
          class="help-text">{{ form.karte.label }}</label>
        {{ form.karte.errors }}
        <div id="address-block" class="formFieldWrapper">
          <div class="g--8 g-t--12">
            <div class="form-input">
              {{ form.address_fst_line.errors }}
              {{ form.address_fst_line }}
            </div>
          </div>
          <div class="form-input">
            <div class="help-text">
              <i>{{ form.address_fst_line.help_text|safe|escape }}</i>
            </div>
          </div>
          <div class="g--8 g-t--12">
            <div class="form-input">
              {{ form.address_snd_line.errors }}
              {{ form.address_snd_line }}
            </div>
          </div>
          <div class="form-input">
            <div class="help-text">
              <i>{{ form.address_snd_line.help_text|safe|escape }}</i>
            </div>
          </div>
          <div class="isflex">
            <div class="g--2 g-t--4">
              <div class="g--12">
                <div class="form-input">
                  {{ form.postcode.errors }}
                  {{ form.postcode }}
                </div>
              </div>
              <div class="form-input">
                <div class="help-text">
                  <i>{{ form.postcode.help_text|safe|escape }}</i>
                </div>
              </div>
            </div>
            <div class="g--6 g-t--8">
              <div class="g--12">
                {{ form.city.errors }}
                {{ form.city }}
              </div>
              <div class="form-input">
                <div class="help-text">
                  <i>{{ form.city.help_text|safe|escape }}</i>
                </div>
              </div>
            </div>
          </div>
          <div class="g--3 g-t--5">
            <div class="form-input">
              {{ form.country.errors }}
              {{ form.country }}
            </div>
          </div>
          <div class="form-input">
            <div class="help-text">
              <i>{{ form.country.help_text|safe|escape }}</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <input
      class="btn--raised btn--green"
      type="submit"
      value="Bestellung abschicken" />
  </form>
</article>
<script type="text/javascript">
  function setTotal (value) {
    var totalEl = document.getElementById('ackertotal')
    totalEl.textContent = value*20
  }
</script>
<div id="div-zoom-overlay">
  <img id="img-zoom-overlay" />
</div>
{% endblock %}
