{% extends "one-block.html" %}
{% load static %}
{% block one-block-content %}
<article>
  <hgroup class="title">
    <hr>
    <div class="main-title">
      <h2>
        Herzlichen Dank, {{name}}!
      </h2>
    </div>
    <hr>
  </hgroup>
  Wir haben eine Email mit Deinen Angaben an {{ email }} geschickt. 
</article>
{% endblock %}
